* {
  /* border: 1px dotted orange; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  font-size: 62.5%;
  --blue: #3882f6;
  --semi-white: #f9faf8;
  --grayish: #e5e7eb;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}
.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
footer,
.hero {
  background-color: #1f2937;
  color: var(--semi-white);
}
.wide-box {
  flex-basis: 50rem;
  /* border: 1px dotted red; */
}
.narrow-box {
  flex-basis: 40rem;
  /* border: 1px dotted red; */
}
/* ----------------------------- */
header {
  padding: 2rem 0;
  flex-grow: 0;
}
a {
  text-decoration: none;
  color: var(--semi-white);
}
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  max-width: 50rem;
}
.logo {
  margin-right: auto;
}
/* ---------------------------- */
.hero {
  flex-grow: 1;
}
.hero-container {
  display: flex;
}
.hero-block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
.hero-header {
  color: var(--semi-white);
  font-weight: 900;
  font-size: 2.2rem;
  padding-right: 3rem;
}
.hero-description {
  color: var(--grayish);
  margin-top: 0.3rem;
  padding-right: 3rem;
}
.hero-button {
  background-color: #3882f6;
  border: none;
  border-radius: 0.3rem;
  color: var(--semi-white);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.4rem 1.5rem;
  margin-top: 0.5rem;
}
/* ----------------------------- */
.info {
  flex-grow: 1;
}
.info-header {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}
.info__card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.info-card-image {
  border: 2px solid #3882f6;
  border-radius: 0.5rem;
}
.info-card {
  width: min-content;
  text-align: center;
  color: #1f2937;
}
/* ----------------------------- */
.sign-up {
  flex-grow: 1;
}
/* ----------------------------- */
.call-action {
  background-color: var(--blue);
  border-radius: 0.5rem;
  padding: 2rem 6rem;
  color: var(--semi-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call-action__header {
  font-weight: 700;
}
.call-action__description {
  font-size: 0.8rem;
}
.call-action__button {
  border-radius: 0.3rem;
  background-color: transparent;
  border: 1px solid var(--semi-white);
  color: var(--semi-white);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.4rem 1.5rem;
}
/* ----------------------------- */
.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-size: 1.6rem;
  color: #1f2937;
  flex-grow: 1;
}
.quote-author {
  font-style: normal;
  font-weight: bold;
  text-align: right;
}
/* ----------------------------- */
footer {
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  flex-grow: 0;
}
